<ion-header [translucent]="true" >
  <ion-toolbar color="dark">
    <ion-title>
      VideosAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>
    <ion-item-sliding>


    <ion-item lines="full">
      <ion-thumbnail slot="end">
        <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/1RFKW55GHQShX07TdXFHvGFjZKI.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
         <h1>O Legado de Júpiter </h1>
         <p> 15/10/2021</p>
         <p> Gênero do Filme</p>
       </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>76%</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="exibirAlertaFavorito()" >
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>


    <ion-item lines="full">
      <ion-thumbnail slot="end">
        <img src="https://www.themoviedb.org/t/p/w220_and_h330_face/wHa6KOJAoNTFLFtp7wguUJKSnju.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
         <h1>Flash </h1>
         <p> 15/10/2021</p>
         <p> Ação</p>
       </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>76%</ion-label>
      </ion-chip>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="exibirAlertaFavorito()" >
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>
</ion-content>
